<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Transaction__ImplPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://202.162.209.19:8765/Transaction/vendingapi"
                binding="basicHttpBinding" bindingConfiguration="Transaction__ImplPortBinding"
                contract="ServiceReference1.Transaction" name="Transaction__ImplPort" />
        </client>
    </system.serviceModel>
</configuration>